.reviewItems-Container{
  float: left;
}
.reviewDelivery-Box {
  width: 360px;
  height: 200px;
  z-index: 15;
  top: 32%;
  left: 50%;
  margin: 50px 0 0 750px;
  float: left;
}

.store-Payment,
.store-Branch,
.store-Carrier,
.store-Date,
.store-Time,
.assembly-Delivery {
  font-weight: bold;
  font-size: 2.2rem;
}
.assembly-Delivery{
  display:inline-block; 
  width:500px;
  margin-bottom: 25px;
}

.store-Payment-Select,
.store-Branch-Select,
.store-Carrier-Select,
.store-Date-Input,
.store-Time-Input,
#assembly-Select {
  padding: 10px;
  margin: 20px 0px;
  margin-bottom: 50px;
  position: relative;
  right: 100px;
  width: 550px;
  background-color: #f5f5f5;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.store-Payment-Select:hover,
.store-Branch-Select:hover,
.store-Carrier-Select:hover,
.store-Date-Input:hover,
.store-Time-Input:hover {
  background-color: #dbdbdb;
}

.store-Payment{
  margin-left: 25px;
}

.store-Branch{
  margin-left: 40px;
}
.store-Carrier {
  margin-left: 45px;
}
.store-Date {
  margin-left: 38px;
}
.store-Time {
  margin-left: 35px;
}

.store-Date-Input,
.store-Time-Input {
  width: 525px;
}

.assembly-Checkbox{
  margin-left:30px;
}

#assembly-Select{
  margin: 30px 0;
}

#assembly-Description{
  position: relative;
  right: 100px;
  width: 550px;
  background-color: #f5f5f5;
  border: 1px solid lightgrey;
  border-bottom-right-radius: 20px;
  padding: 0 0 100px;
}

textarea {
  resize: none;
}


.Proceed {
  padding: 10px;
  margin-left: 100px;
  margin-bottom: 200px;
  position: relative;
  right: 100px;
  width: 350px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}