<head>
  <title>Select!</title>
  <link rel="stylesheet" type="text/css" href="css/serviceDelivery/serviceDeliverSelect.css" />
</head>

<body>
  <div class="reviewDelivery-Box">
    <form name="deliveryPaymentForm" ng-submit="submitFormData()">
      <label class="store-Branch"> Choose Branch:</label>
      <select
        id="store"
        name="store"
        class="store-Branch-Select"
        ng-model="formData.store"
      >
        <option ng-repeat="store in address" value="{{store.address}}">
          {{store.address}}
        </option>
      </select>
      <label class="store-Carrier">Choose Carrier:</label>
      <select
        name="truckCarrier"
        class="store-Carrier-Select"
        ng-model="formData.truck"
      >
        <option
          ng-model="store"
          ng-repeat="truck in carrier"
          value="{{truck.carrier}}"
        >
          {{truck.carrier}}
        </option>
      </select>
      <label class="store-Carrier">Delivery Type:</label>
      <select
        name="deliveryType"
        class="store-Carrier-Select"
        ng-model="formData.type"
      >
        <option value="standard">Standard Delivery</option>
        <option value="express">Express Delivery</option>
      </select>
      <label class="store-Branch"> Choose Payment:</label><br/>
      <a style="margin-left:50px;" href="#!payment">Dont have one? click me to add one!</a>
      <select
        id="payment"
        name="store"
        class="store-Branch-Select"
        ng-model="formData.payment"
      >
        <option
          ng-model="payment"
          ng-repeat="card in paymentMethods"
          value="{{card.payment}}"
        >
          ************{{card.payment}}
        </option>
      </select>
      <label class="store-Date">Date for Delivery</label>
      <input
        class="store-Date-Input"
        name="date"
        type="date"
        ng-model="formData.date"
      /><br />
      <label class="store-Time">Time for Delivery</label>
      <input
        class="store-Time-Input"
        name="time"
        type="time"
        ng-model="formData.time"
      /><br />
      <button class="Proceed">Proceed</button>
    </form>
  </div>
  <!-- <div class="reviewItems-Container" ng-repeat="bang in items.items">
    <img
      style="border-radius: 5px"
      class="review-product-images"
      src="{{bang.image}}"
    />
    <br />
    <div class="reviewItems-Description">
      <span style="font-weight: bold">{{bang.itemName}}</span><br />
      <p class="quantity" style="font-size: 12px; color: grey">
        Qty: <span style="color: black">{{bang.quantity}}</span>
      </p>
      <span style="font-size: 12px; color: grey">${{bang.cost}}</span>
      <span class="sub-total">${{bang.cost * bang.quantity}}</span>
    </div>
  </div> -->
</body>
