<head>
  <title>Select!</title>
  <link rel="stylesheet" type="text/css" href="css/serviceDelivery/serviceDeliverSelect.css" />
</head>

<body>
  <div class="reviewDelivery-Box">
    <form name="deliveryPaymentForm" ng-submit="submitFormData()">
      <label class="store-Branch"> Choose Payment:</label><br />
      <select id="payment" name="store" class="store-Branch-Select" ng-model="formData.payment">
        <option ng-model="payment" ng-repeat="card in paymentMethods" value="{{card.id}}">
          {{card.payment}}
        </option>
      </select>

      <label class="store-Branch"> Choose Branch:</label>
      <select id="store" name="store" class="store-Branch-Select" ng-model="formData.store">
        <option ng-repeat="store in address" value="{{store.address}}">
          {{store.address}}
        </option>
      </select>

      <label class="store-Carrier">Choose Carrier:</label>
      <select name="truckCarrier" class="store-Carrier-Select" ng-model="formData.truck">
        <option ng-model="store" ng-repeat="truck in carrier" value="{{truck.carrier}}">
          {{truck.carrier}}
        </option>
      </select>

      <label class="store-Date">Date for Delivery</label>
      <input class="store-Date-Input" name="date" type="date" ng-model="formData.date" /><br />

      <label class="store-Time">Time for Delivery</label>
      <input class="store-Time-Input" name="time" type="time" ng-model="formData.time" /><br />

      <br />

      <label class="store-Time">Assembly at Delivery</label><br>

      <input type="checkbox" ng-model="formData.assembly" name="vehicle1" value="Bike">
      <label for="vehicle1">I want my items assembled at delivery</label><br>

      <div ng-switch="formData.assembly">
        <div ng-switch-when="true">
          <select ng-model="formData.assemblyType">
            <option value="Standard">
              Standard Assembly
            </option>
            <option value="Express">
              Express Assembly
            </option>
            <option value="LightSpeed">
              Light Speed Assembly
            </option>
          </select>
          <textarea ng-model="formData.description" rows="5" cols="40"
            placeholder="Tell us how you want it done!"></textarea>
        </div>
        <div ng-switch-default></div>
      </div>


      <br />
      <input type="hidden" ng-model="formData.quantity" name="quantity" value="{{oldVariables.totalQuantity}}">
      <input type="hidden" ng-model="formData.totalCost" name="totalCost" value="{{oldVariables.totalCost}}">
      <button class="Proceed">Proceed</button>
    </form>
  </div>
</body>